// Here you can add other styles
.c-header{
	background:none;
}
.c-wrapper .c-header-fixed{
	margin:0 !important;
}
.c-header.c-header-fixed{
	position:relative !important;
	display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    flex-shrink: 0;
    min-height: 56px;
}
.c-sidebar{
	background:#363740 !important;
}
.c-sidebar-nav{
	background:#363740 !important;
}
.c-sidebar .c-sidebar-nav-lin{
	background:#505050 !important;
}
.c-sidebar .c-active{
	background:#505050 !important;
}
.c-sidebar-brand{
	justify-content:left;
	padding-left:10%;
	color: var(--white);
    font-family: var(--font-family-mulish);
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 700;
}
.c-sidebar-brand img{
	padding-right: 5px;
}
.justify-content-right{
	justify-content: right !important;
}
