<template>
  <CRow>
    <CCol col="12" lg="6">
      <CCard>
        <CCardHeader>
          <h3>{{ fullname }}</h3>
        </CCardHeader>
        <CCardBody>
          <CRow>
            <CCol col="12" lg="6">
              <img :src="avatar" width="200" />
            </CCol>
            <CCol col="12" lg="6">
              <div class="row mb-3">
                <div class="col-12 mb-2">
                  <strong>First Name</strong>
                </div>
                <div class="col-12">
                  {{ firstname }}
                </div>
              </div>
              <div class="row mb-3">
                <div class="col-12 mb-2">
                  <strong>Last Name</strong>
                </div>
                <div class="col-12">
                  {{ lastname }}
                </div>
              </div>
              <div class="row mb-3">
                <div class="col-12 mb-2">
                  <strong>E-mail</strong>
                </div>
                <div class="col-12">
                  {{ email }}
                </div>
              </div>
            </CCol>
          </CRow>
        </CCardBody>
        <CCardFooter>
          <CButton color="info" @click="goBack">
            Back
          </CButton>
        </CCardFooter>
      </CCard>
    </CCol>
  </CRow>
</template>

<script>
export default {
  name: 'User',
  data: () => {
    return {
      iduser: '',
      fullname: '',
      firstname: '',
      lastname: '',
      email: '',
      avatar: ''
    }
  },
  created () {
    const id = this.$route.params.id
    this.$axios.get('http://ap1.abyan.site/users/' + id).then((result) => {
      const resp = result.data.data
      this.fullname = resp.first_name + ' ' + resp.last_name
      this.firstname = resp.first_name
      this.lastname = resp.last_name
      this.email = resp.email
      this.avatar = resp.avatar
      this.iduser = id
      console.log(resp)
    })
  },
  methods: {
    getUserData (id) {
      const vuex = this
      vuex.$axios.get('http://ap1.abyan.site/users/' + id).then((result) => {
        const resp = result.data.data
        vuex.fullname = resp.first_name + ' ' + resp.last_name
        vuex.email = resp.email
        vuex.avatar = resp.avatar
        vuex.iduser = id
        console.log(resp)
      })
    },
    goBack () {
      this.$router.go(-1)
    }
  }
}
</script>
