<template>
  <CRow>
    <CCol col="12">
      <transition name="slide">
        <CCard>
          <CCardBody>
            <CDataTable
              :items="items"
              :fields="fields"
              :items-per-page="perPage"
              :pagination="$options.paginationProps"
              index-column
            >
              <template #avatar="data">
                <td class="text-center">
                  <div class="c-avatar">
                    <img :src="data.item.avatar" class="c-avatar-img" alt="">
                  </div>
                </td>
              </template>
              <template #fullname="data">
                <td>
                  <strong>{{ data.item.first_name+' '+data.item.last_name }}</strong>
                </td>
              </template>
              <template #email="data">
                <td>
                  <strong>{{ data.item.email }}</strong>
                </td>
              </template>

              <template #id="data">
                <td class="text-right">
                  <CButton color="info" @click="detailUser(data.item.id)">
                    View Detail
                  </CButton>
                </td>
              </template>
            </CDataTable>
            <div class="btn-wrapper text-right">
              <span>{{ startRow }} - {{ endRow }} of {{ totalData }}</span>
              <button class="btn" type="button" :disabled="currentPage === 1" @click="reloadTable(-1)">
                Prev
              </button>
              <button class="btn" type="button" :disabled="currentPage === size" @click="reloadTable(1)">
                Next
              </button>
            </div>
          </CCardBody>
        </CCard>
      </transition>
    </CCol>
  </CRow>
</template>

<script>
export default {
  name: 'Users',
  data: () => {
    return {
      currentPage: 1,
      startRow: 1,
      endRow: 5,
      size: 1,
      totalData: 1,
      items: [],
      fields: [
        { key: 'avatar', label: '' },
        { key: 'fullname', label: 'Fullname' },
        { key: 'email', label: 'E-mail' },
        { key: 'id', label: '' }
      ],
      perPage: 5
    }
  },
  created () {
    const page = this.currentPage
    this.$axios.get('http://ap1.abyan.site/users?page=' + page).then((result) => {
      this.items = result.data.data
      this.perPage = result.data.per_page
      this.size = result.data.total_pages
      this.totalData = result.data.total
      if (this.totalData < this.perPage) {
        this.perPage = this.totalData
      }
      this.endRow = result.data.per_page
      console.log(result.data)
    })
  },
  paginationProps: {
    align: 'right',
    doubleArrows: true,
    previousButtonHtml: 'prev',
    nextButtonHtml: 'next'
  },
  methods: {
    userLink (id) {
      return `/users/${id.toString()}`
    },
    detailUser (iduser) {
      const userLink = this.userLink(iduser)
      this.$router.push({ path: userLink })
    },
    reloadTable (num) {
      this.currentPage = this.currentPage + num
      this.$axios.get('http://ap1.abyan.site/users?page=' + this.currentPage).then((result) => {
        this.items = result.data.data
        this.perPage = result.data.per_page
        this.startRow = (num > 0) ? this.perPage + num : this.startRow - this.perPage
        this.endRow = this.currentPage * this.perPage
        this.totalData = result.data.total
        this.size = result.data.total_pages
        console.log(result.data)
      })
    }
  }
}
</script>
